@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400&display=swap');
html {
  height: 100%;
  width: 100%;
  
}
nav{
  background-color: #fff5d9;
  width: 100%;
}
.container{
  max-width: 100%;
}
body{
overflow-x: hidden;
  background-color: #f6f6f6;
}
*{
  margin: 0;
  padding: 0;
}
.min-h-screen{
  min-height: 100vh;
}
.para1{
  margin-left: 2em;
}
.mx-auto{
  margin-left:auto;
  margin-right: auto;
}
.container{
font-family: 'Roboto Mono', monospace;
  max-width:76vw;
}

.navbar li{
  margin: 0 12px;
  height: 30px;
  cursor: pointer;
}
.logo{
  font-weight: bolder;
  font-size: 30px;
}
.topleft{
  padding: 12px 0;
  width: 50%;
}
.topright{
  width: 50%;
    

}

.my-1{
  margin-top: 13px;
  margin-bottom: 13px;
    word-spacing:0px

}
.pd-2{
  padding-left: 13px;
  padding-right: 13px;
}
.btno{
  padding: 4px 12px;
  border: 2px solid white;
  color: white;
  background-color: #b43904;
  border-radius: 10px;
}
.jimimg{
    width: 550px;
    height: 286px;
   background-blend-mode: lighten;
}
.dumbleimg{
  width: 75px;
  margin-left:12vw;
}
.my2{
    margin-top: 13px;
  margin-bottom: 13px;
    word-spacing:0px;
  font-size:2.5rem;
}
.my3{
  margin-bottom: -23px;
    word-spacing:0px;
  font-size:2.5rem;
}
section2{
   padding:73px

}

.box{
  margin:25px 22px;
  min-width:25vw;
  border:2px solid black;
  border-radius:12px;
  padding:8px 0px;
}
.section1{
    padding:73px

}
.box ul  {
  list-style:none
}
.box ul li{
  margin:9px 2px;
}
.navbars{
      margin-left:-100px;
}
  header{
        width: 120%;
  }
.highlighted{
  font-size:1.2rem;
  font-weight:bolder;
}
.box h2{
  font-size:2rem;
  padding:12px 0;
}
.firsttext{
  padding:0 8vw;
}
.plantable{
  display:flex;
  justify-content:center;
  align-items:center;
}
.section3 table{
  width:100%;
  margin-top:80px;
}
.section3{
  padding:33px

}
.section3 table th{
  width:23vw;
    border-bottom:2px solid black;
  padding:15px 0

}

.section3 table tr{
      border-bottom:2px solid black;

}
.ham{
  width: 4vw;
  height: 4vw;
  margin-left: -98vw;
  cursor: pointer;
  position: inherit;
}
footer{
  padding: 23px;
}
.btno:hover{
  color: #662514;
}
@media(min-width:900px){
  .ham{
    display: none;
  }
  .pop{
    display: none;
  }
}

@media (max-width:900px){
  .navbars{
    flex-direction:column;
   
  }


  .pop{
    flex-direction:column;
  }
  .jimimg{
    display: none;
  }
  .dumbleimg{
  margin-left: 131px;
  }
  .topleft{
    width: 80%;
  }

  nav{
    flex-direction: column;
     align-items: center;
  
  ;}
  .boxes{
    width: 65vw;
  }
  .box{
    width: 33em;
    margin: 19px 6px;
  }
  .box h2{
    word-wrap: break-word;
  }
  .box ul li{
    word-wrap: break-word;
  }
  .section1{
    padding: 0px;
  }
  .navbars{
    margin: auto;
  }
  bosy{
    overflow-x: hidden;
  }
  .parabtn{
    margin-right: 30px;
  }
  .ham{
       margin-top: 6px;
    width: 11vw;
        height: 11vw;

  }
    .box ul{
      padding-left: 0px;
    }
}